# Fichiers exécutables
bataille_navale
cunits

# Fichiers objet
*.o

# Fichiers de couverture de code générés par gcov
*.gcno
*.gcda
*.gcov

# Fichiers et dossiers temporaires
tmp
temp

# Fichiers de données de test ou fichiers spécifiques aux tests
stats.txt
stats_test_output.txt

# Fichier HTML généré à partir du README.md
README.html